<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Spoopify</title>
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Rubik:wght@300..900&display=swap" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="public/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="public/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="public/favicon-16x16.png">
    </head>
    <body>
        <div id="songs" class="section wide">
            <h2>Your top songs</h2>
            <div class="list">
                {{#each songs}}
                <div class="item">
                    <div class="item-img"><img src={{img}} alt="images" /></div>
                    <div class="item-desc"><p><span class="title">{{title}}</span></br>{{artist}}</p></div>
                </div>
                {{/each}}
            </div>
        </div>
        <div id="artists" class="section wide">
            <h2>Your top artists</h2>
            <div class="list">
                {{#each artists}}
                <div class="item">
                    <div class="item-img"><img src={{img}} alt="images" /></div>
                    <div class="item-desc"><p><span class="title">{{artist}}</p></div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="section" id="love">
            <h2>You love</h2>
            <div class="fixed">
                {{#each loves}}
                <div data-id={{@index}} data-url={{url}} class="button">
                    <div class="genre">{{genre}}</div>
                    <div class="play"><div class="play-button"></div></div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="section" id="loves">
            <h2>So you'll LOVE</h2>
            <div class="fixed">
                {{#each hates}}
                <div data-id={{@index}} data-url={{url}} class="button">
                    <div class="genre">{{genre}}</div>
                    <div class="play"><div class="play-button"></div></div>
                </div>
                {{/each}}
            </div>
        </div>
        <div id="basic" class="section">
            <h2>Personality Analysis</h2>
            <div class="fixed">
                <h3>Basicness</h3>
                <div class="item" id="basicness">
                    <h1>{{score}}%</h1>
                    <p>{{desc}}</p>
                </div>
                <h3>Horoscope</h3>
                <div class="item" id="horoscope">
                    <h1>{{horoemoji}}</h1>
                    <p><span class="title">{{horoscope}}</span></p>
                </div>
            </div>
        </div>
        <div id="faves" class="section">
            <h2>Your favourite not-so-popular...</h2>
            <div class="list">
                <h3>Song</h3>
                <div class="item" id="song">
                    <div class="item-img"><img src={{trackUrl}} alt="images"></div>
                    <div class="item-desc"><p><span class="title">{{trackTitle}}</span></br>{{trackArtist}}</p></div>
                </div>
                <h3>Artist</h3>
                <div class="item" id="artist">
                    <div class="item-img"><img src={{artistUrl}} alt="images"></div>
                    <div class="item-desc"><p><span class="title">{{artistName}}</span></p></div>
                </div>
            </div>
        </div>
        <div id="footer">
            <p>Willed into existence by <a href="https://www.daneee.com" target="_blank">Dane Bagaoisan</a></p>
        </div>
    </body>
</html>
<link rel="stylesheet" href="/css/yours.css">
<script src="/js/yours.js"></script>